@import url(../two-columns/two-columns.css);
@import url(./__paragraph/oakley__paragraph.css);

.oakley {
  margin: 0 auto;
  padding: 160px 10% 100px;
  width: 80%;
  background-color:  #f2f2f2;
}


